<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>All Bills - MyShop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/allBills.css"> <!-- Page-specific CSS -->
  <link rel="stylesheet" href="/css/popup.css"> <!-- Page-specific CSS -->
</head>

<body>
  <%- include('../partials/navbar') %>
  <%- include('../partials/popupBill') %>

    <div class="container">
      <h2 class="page-title">All Bills</h2>
      <div class="table-responsive">
        <table class="custom-table">
          <thead>
            <tr>
              <th>Bill No</th>
              <th>Customer Name</th>
              <th>Phone No</th>
              <th>Total Amount</th>
              <th>Total Received</th>
              <th>Action</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% bills.forEach(bill=> { %>
              <tr>
                <td>
                  <%= bill.billNo %>
                </td>
                <td>
                  <%= bill.customerName %>
                </td>
                <td>
                  <%= bill.customerPhone %>
                </td>
                <td>₹<%= bill.totalAmount %>
                </td>
                <td>₹<%= bill.totalReceiveAmount %>
                </td>
                <td>
                  <a href="/billing/abill/print?id=<%= bill._id %>" class="btn primary">Print</a>
                  <a href="/allbill/edit/<%= bill._id %>" class="btn warning">Edit</a>
                </td>
                <td>
                  <form id="deleteForm-<%= bill._id %>" action="/allbill/delete/<%= bill._id %>" method="POST" onsubmit="return false;">
                    <button class="btn danger1 no-loader" type="button" onclick="openDeleteModal('<%= bill._id %>')">Delete</button>
                  </form>
                  
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      let currentDeleteFormId = null;
      
      function openDeleteModal(billId) {
        currentDeleteFormId = `deleteForm-${billId}`;
        document.getElementById('deleteModal').style.display = 'block';
      }
      
      function closeDeleteModal() {
        document.getElementById('deleteModal').style.display = 'none';
        currentDeleteFormId = null;
      }
      
      document.getElementById('confirmDeleteBtn').addEventListener('click', () => {
        if (currentDeleteFormId) {
          document.getElementById(currentDeleteFormId).submit();
        }
      });
      </script>
      
</body>

</html>